In [0]:
import pandas as pd

url = 'https://raw.githubusercontent.com/edlich/eternalrepo/master/DS-WAHLFACH/countries.csv'
countries = pd.read_csv(url)

In [19]:
print("Rows: ", countries.shape[0])
print("Columns: ", countries.shape[1])
print('Mean values:\n', countries.mean())

Rows:  5
Columns:  5
Mean values:
 People    102786293.6
Area        3907399.6
BIP            2716.2
dtype: float64

In [11]:
countries.tail(4)

       Name     People     Area   BIP Currency
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

In [24]:
print(countries[countries['Currency'] == 'EUR'])

      Name    People    Area   BIP Currency
0  Germany  82521653  357385  3466      EUR
3    Italy  60501718  301338  1850      EUR

In [32]:
c = countries.loc[:,['Name', 'Currency']]
c

       Name Currency
0   Germany      EUR
1     Japan      YEN
2    Canada      CAD
3     Italy      EUR
4  Brazilia     REAL

In [26]:
print(countries[countries['BIP'] >= 2000])

      Name     People    Area   BIP Currency
0  Germany   82521653  357385  3466      EUR
1    Japan  126045000  377835  4938      YEN

In [33]:
print(countries.loc[(countries['People'] >= 50000000) & (countries['People'] <= 150000000)])

      Name     People    Area   BIP Currency
0  Germany   82521653  357385  3466      EUR
1    Japan  126045000  377835  4938      YEN
3    Italy   60501718  301338  1850      EUR

In [72]:
countries = countries.rename(columns={"BIP":"Bip"})
countries

       Name     People     Area   Bip Currency
4  Brazilia  208360000  8515770  1798     REAL
2    Canada   36503097  9984670  1529      CAD
0   Germany   82521653   357385  3466      EUR
3     Italy   60501718   301338  1850      EUR
1     Japan  126045000   377835  4938      YEN

In [43]:
print(countries['Bip'].sum())

13581

In [44]:
print(countries['People'].mean())

102786293.6

In [83]:
countries = countries.sort_values('Name')
countries

       Name     People     Area   Bip Currency
4  Brazilia  208360000  8515770  1798     REAL
2    Canada   36503097  9984670  1529      CAD
0   Germany   82521653   357385  3466      EUR
3     Italy   60501718   301338  1850      EUR
1     Japan  126045000   377835  4938      YEN

In [92]:
c2 = countries
c2['Area'] = c2['Area'].apply(lambda x : 'BIG' if x > 1000000 else 'SMALL')
c2

       Name     People   Area   Bip Currency
4  Brazilia  208360000    BIG  1798     REAL
2    Canada   36503097    BIG  1529      CAD
0   Germany   82521653  SMALL  3466      EUR
3     Italy   60501718  SMALL  1850      EUR
1     Japan  126045000  SMALL  4938      YEN